COMPOSE_PROJECT_NAME=blog
BE_FUNCTION_PORT=5000
DYNAMODB_PORT=8000
DYNAMODB_TABLE=blog
AWS_ACCESS_KEY_ID=dummy
AWS_SECRET_ACCESS_KEY=dummy

STACK_NAME=blog
DOMAIN_NAME=blog.com
HOSTED_ZONE_ID=
CLOUDFRONT_CERTIFICATE_ARN=
NOTIFICATION_EMAIL=user@example.com
NOTIFICATION_PHONE=+15613145123
AWS_PROFILE_NAME=default
AWS_REGION=us-west-2
TAG_PROJECT=blog
TAG_OWNER=olek
TAG_ENVIRONMENT=prod
GOOGLE_ANALYTICS_ID=
CONTACT_TOPIC_ARN=

ENV=local
BASE_URL=https://blog.com

STATIC_FILES_DIR=static