# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*.egg
*.egg-info/
dist/
build/
*.log

# Virtual environment
venv/
env/
.venv/

# IDE files
.idea/
.vscode/

# Environment files
.env

# Custom
info.txt
.site-build/
.code-build/
.tmp
bootstrap-5.3.7-dist/
bootstrap-icons-1.13.1/

be-function-src/data.json
be-function-src/static/*
!be-function-src/static/styles.css
!be-function-src/static/scripts.js
!be-function-src/static/robots.txt
!be-function-src/static/license.xml

dynamodb-data/
# Development email sink
.emails/
