{% set image = article.image_filename %}
{% set preview = preview | default(True) and article.preview %}
{% set vert_gap = vert_gap | default(1) %}
{% set h_tag_size = h_tag_size | default(3) %}
{% set h_display_size = h_display_size | default(4) %}
{% set article_user = article.get_user() %}
{% set article_img_sizes = article_img_sizes | default({"768px": "25vw", "default": "100vw"}) %}

<div class="article col"{% if article.offset %} data-offset="{{ article.offset }}"{% endif %}>
    <div class="card">
        {% if image %}
            {% include "fragments/article-link-image.html" %}
        {% endif %}

        {% include "fragments/article-body.html" %}
    </div>
</div>
