.tox-tinymce {
    border: 0 !important;
}

.tox-tinymce .tox-statusbar {
    display: none !important;
}

.breadcrumb {
    margin: 1rem 0
}

.form-control.h1 {
    font-size: 2.5rem;
    font-weight: 500;
}

.avatar-letter {
    font-weight: bold;
}