{% set image = image | default(True) and article.image_filename %}
{% set preview = preview | default(True) and article.preview %}
{% set vert_gap = vert_gap | default(1) %}
{% set h_tag_size = h_tag_size | default(3) %}
{% set h_display_size = h_display_size | default(4) %}
{% set image_column_size = image_column_size | default({"def":12,"md":3}) if image else 0 %}
{% set image_order_size = image_order_size | default({"def":12}) if image else 0 %}
{% set border = border | default(True) %}
{% set article_user = article.get_user() %}
{% set article_img_sizes = article_img_sizes | default({"768px": "25vw", "default": "100vw"}) %}

<div class="article row g-3 {% if border %}pb-3 border-bottom{% endif %}"
     {% if article.offset %}data-offset="{{ article.offset }}"{% endif %}>
    {% if image %}
        <div class="{{ image_order_size | order_classes }} {{ image_column_size | column_classes }}">
            <a href="{{ article_url(article) }}">
                {% with filename=article.image_filename,
                    alt=article.title,
                    img_class="img-thumbnail",
                    img_sizes=article_img_sizes %}
                    {% include "fragments/image.html" %}
                {% endwith %}
            </a>
        </div>
    {% endif %}

    <div class="{{ image_order_size | order_classes(inverse=True) }} {{ image_column_size | column_classes(inverse=True) }} d-flex flex-column gap-{{ vert_gap }}">
        <a class="link-body-emphasis text-decoration-none d-flex flex-column gap-{{ vert_gap }}"
           href="{{ article_url(article) }}">
            <h{{ h_tag_size }} class="h{{ h_display_size | default(3) }} mb-0">{{ article.title }}</h{{ h_tag_size }}>

            {% if preview %}
                <div class="text-secondary two-line-ellipsis">
                    {{ article.preview }}
                </div>
            {% endif %}
        </a>

        <div class="d-flex flex-wrap gap-2">
            {% if article_user %}
                <small class="text-secondary bi bi-person" title="Author">
                    <a href="{{ user_url(article_user) }}" class="link-secondary">{{ article_user.name }}</a>
                </small>
            {% endif %}

            <small class="text-secondary bi bi-calendar2" title="Created at">
                {{ (article.created_at / 1000) | unix_to_full_date }}
            </small>

            {% if article.status == ArticleStatus.REJECTED %}
                <span class="badge text-bg-danger fs-6" title="{{ article.comment }}">Rejected</span>
            {% elif article.status == ArticleStatus.UNPUBLISHED %}
                <span class="badge text-bg-warning fs-6" title="Pending">Unpublished</span>
            {% endif %}

            {% if article.likes_count or article.dislikes_count %}
                <small class="text-secondary">
                    {% if article.likes_count %}
                        <span class="bi bi-hand-thumbs-up" title="Likes"> {{ article.likes_count }}</span>
                    {% endif %}

                    {% if article.dislikes_count %}
                        <span class="bi bi-hand-thumbs-down" title="Dislikes"> {{ article.dislikes_count }}</span>
                    {% endif %}
                </small>
            {% endif %}

            {% include "fragments/article-rating.html" %}

            {% if tags | default(True) and article.tags %}
                <small class="text-secondary">
                    <i class="bi bi-tags"></i>
                    {% for tag in article.tags %}
                        <a href="{{ articles_url(tags=[tag]) }}" class="link-secondary text-decoration-none"> {{ tag }}</a>
                    {% endfor %}
                </small>
            {% endif %}
        </div>
    </div>
</div>