<div class="d-flex gap-2 align-items-center">
    {% if author %}
        {% with user=author %}
            {% include "fragments/user-inline.html" %}
        {% endwith %}
    {% endif %}

    {% if post.tags %}
        <div>
            <span class="small text-secondary">Tags:</span>

            {% for tag in post.tags %}
                <a href="{{ url("index") }}" class="btn btn-outline-secondary btn-sm">
                    {{ tag.name }}
                </a>
            {% endfor %}
        </div>
    {% endif %}

    {% if post.status == "rejected" %}
        <span class="badge text-bg-dange fs-5">Rejected</span>
    {% elif post.status == "unpublished" %}
        <span class="badge text-bg-warning fs-6">Unpublished (Pending)</span>
    {% endif %}

    <div>
        <span class="small text-secondary">
            Created: {{ (post.created_at / 1000) | unix_to_full_date }}
        </span>
    </div>
</div>