{% set user = post_comment.get_user() %}

<div class="post-comment" {% if post_comment.offset %}data-offset="{{ post_comment.offset }}"{% endif %}>
    <div class="row g-2">
        <div class="col col-1">
            <a href="{{ user_url(user) }}">
                {% include "fragments/user-avatar.html" %}
            </a>
        </div>

        <div class="col col-11 d-flex flex-column">
            <a class="link-body-emphasis text-decoration-none d-flex flex-column" href="{{ user_url(user) }}">
                {{ user.name }}
            </a>

            <small class="post-comment-created-at text-secondary">
                <i class="bi bi-calendar2"></i>
                {{ (post_comment.created_at / 1000) | unix_to_full_date }}
            </small>

            {% if post_comment.updated_at and post_comment.updated_at - post_comment.created_at > 86_400_000 %}
                <small class="post-comment-updated-at text-secondary">
                    UPD:
                    {{ (post_comment.updated_at / 1000) | unix_to_full_date }}
                </small>
            {% endif %}
        </div>
    </div>

    <div class="post-comment-text">
        {{ post_comment.text }}
    </div>

    {#    {% include "fragments/post-impressions.html" %}#}
</div>