{% if post.status != PostStatus.PUBLISHED and cur_user and check_auth(cur_user, Permission.UPDATE_POST_STATUS, post) %}
    <div class="d-flex gap-1 align-items-center">
        <!-- Publish Post -->
        <button type="button"
                class="btn btn-success btn-sm btn-post-publish flex-shrink-0"
                data-post-id="{{ post.id }}"
                data-status="{{ PostStatus.PUBLISHED.value }}"
                data-bs-toggle="tooltip"
                data-bs-title="Publish this post">
            <i class="bi bi-check-all"></i> Publish
        </button>

        <!-- Reject Post -->
        <div class="d-flex gap-0 align-items-center">
            <input type="text"
                   class="form-control form-control-sm"
                   name="comment"
                   id="comment"
                   placeholder="Rejection reason..."
                   value="{{ post.comment if post and post.comment else '' }}">
            <button type="button"
                    class="btn btn-danger btn-sm btn-post-reject flex-shrink-0"
                    data-post-id="{{ post.id }}"
                    data-status="{{ PostStatus.REJECTED.value }}">
                <i class="bi bi-x-lg"></i> Reject
            </button>
        </div>
    </div>
{% endif %}