<form class="row" id="post-form" novalidate>
    <div class="col col-12 col-lg-6 col-xl-8">
        <label class="w-100">
            <textarea type="text" class="form-control h1 border-0" id="title" name="title" placeholder="Title"
                      required minlength="20" maxlength="500" rows="1" autofocus>{{ post.title if post else "" }}</textarea>
        </label>
    </div>

    <div class="col col-12 col-lg-6 col-xl-8 d-flex flex-column gap-2">
        <label class="w-100">
            <textarea class="form-control editor" id="content" name="content" placeholder="Content" rows="12"
                      required minlength="1000" maxlength="10000">{{ post.content if post else "" }}</textarea>
        </label>
    </div>

    <div class="col col-12 col-lg-6 col-xl-4 d-flex flex-column gap-2">
        <small class="text-secondary">
            <i class="bi bi-tags"></i>
            Tags:
        </small>
        {% with url=url("get-post-tags"), value=post.tags if post else [] %}
            {% include "fragments/tags-input.html" %}
        {% endwith %}

        <div>
            <button type="submit" class="btn btn-light">
                <i class="bi {% if post %}bi-arrow-clockwise{% else %}bi-plus-lg{% endif %}"></i>
                {% if post %}Update{% else %}Create{% endif %} post
            </button>
        </div>
    </div>
</form>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    handleFormSubmit("#post-form", "{{ url('update-post', post_id=post.id) if post else url('create-post') }}", {
      method: "{{ 'PATCH' if post else 'POST' }}",
      rules: {
        title: [
          {rule: "required"},
          {rule: "minLength", value: 20},
          {rule: "maxLength", value: 500}
        ],
        content: [
          {rule: "required"},
          {rule: "minLength", value: 1000},
          {rule: "maxLength", value: 10000}
        ],
        tags: [
          {rule: "required"},
          {rule: "tags", minCnt: 1, maxCnt: 3, minLen: 2, maxLen: 20}
        ]
      },
      onSuccess: (res) => {
        if (res) window.location.href = res
      },
      successMessage: "Post created!"
    })
  })
</script>