<div class="post row g-2" {% if post.offset %}data-offset="{{ post.offset }}"{% endif %}>
    <div class="col col-{{ 10 if post.image_filename else 12 }}">
        <a href="{{ post_url(post) }}">
            <h2>{{ post.title }}</h2>
        </a>

        {% if post.tags %}
            <span class="small text-secondary">Tags:</span>

            {% for tag in post.tags %}
                <a href="{{ url("posts", tags=tag) }}" class="btn btn-light btn-sm">
                    {{ tag }}
                </a>
            {% endfor %}
        {% endif %}

        {% if post.status == PostStatus.REJECTED %}
            <span class="badge text-bg-danger fs-5">Rejected</span>
        {% elif post.status == PostStatus.UNPUBLISHED %}
            <span class="badge text-bg-warning fs-6">Unpublished (Pending)</span>
        {% endif %}

        <span class="small text-secondary">
            Created: {{ (post.created_at / 1000) | unix_to_full_date }}
        </span>
    </div>
    {% if post.image_filename %}
        <div class="col col-2">
            <a href="{{ post_url(post) }}">
                <img class="img-fluid" src="{{ static_url(post.image_filename) }}" alt="{{ post.title }}">
            </a>
        </div>
    {% endif %}
</div>