<form id="post-comment-form" novalidate>
    <div class="form-group">
        <label class="w-100">
            <textarea class="form-control" id="text" name="text" placeholder="Write a comment" required
                      rows="3">{{ post_comment.text if post_comment else "" }}</textarea>
        </label>
    </div>

    <button type="submit" class="btn btn-light">
        <i class="bi {% if post_comment %}bi-arrow-clockwise{% else %}bi-plus-lg{% endif %}"></i>
        {% if post_comment %}Update{% else %}Add{% endif %} post comment
    </button>
</form>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    {% set form_url = url('update-post-comment', post_id=post.id, post_comment_id=post_comment.id) if post_comment
    else url('create-post-comment', post_id=post.id) %}
    handleFormSubmit("#post-comment-form", "{{ form_url }}", {
      method: "{{ 'PATCH' if post_comment else 'POST' }}",
      rules: {
        text: [
          {rule: "required"},
          {rule: "minLength", value: 1},
          {rule: "maxLength", value: 5_000}
        ],
      },
      onSuccess: (res) => {
        if (res) window.location.href = res
      },
      successMessage: "Post comment added!"
    })
  })
</script>