{% set is_anonymous = not cur_user %}
{% set has_permission = cur_user and check_auth(cur_user, Permission.UPDATE_POST_IMPRESSION, post) %}

{% if has_permission %}
    <div>
        <!-- Like Button -->
        <span data-bs-toggle="tooltip"
              data-bs-title="{% if post_impression and post_impression.action == Impression.LIKE %}Unlike this post{% else %}Like this post{% endif %}">
        <button type="button" class="btn btn-success btn-sm btn-post-like" data-post-id="{{ post.id }}">
            <i class="bi {% if post_impression and post_impression.action == Impression.LIKE %}bi-hand-thumbs-up-fill{% else %}bi-hand-thumbs-up{% endif %}"></i>
            {{ post.likes_count }}
        </button>
    </span>

        <!-- Dislike Button -->
        <span data-bs-toggle="tooltip"
              data-bs-title="{% if post_impression and post_impression.action == Impression.DISLIKE %}Undislike this post{% else %}Dislike this post{% endif %}">
        <button type="button" class="btn btn-danger btn-sm btn-post-dislike" data-post-id="{{ post.id }}">
            <i class="bi {% if post_impression and post_impression.action == Impression.DISLIKE %}bi-hand-thumbs-down-fill{% else %}bi-hand-thumbs-down{% endif %}"></i>
            {{ post.dislikes_count }}
        </button>
    </span>
    </div>
{% elif is_anonymous %}
    <!-- Optionally, show a message for non-logged-in users -->
    <div>
        <span data-bs-toggle="tooltip" data-bs-title="Log in to react">
            <button type="button" class="btn btn-success btn-sm" disabled>
                <i class="bi bi-hand-thumbs-up"></i> {{ post.likes_count }}
            </button>
        </span>
        <span data-bs-toggle="tooltip" data-bs-title="Log in to react">
        <button type="button" class="btn btn-danger btn-sm" disabled>
            <i class="bi bi-hand-thumbs-down"></i> {{ post.dislikes_count }}
        </button>
    </span>
    </div>
{% endif %}