{% if post.status != PostStatus.PUBLISHED and cur_user and check_auth(cur_user, Permission.CHANGE_POST_STATUS, post) %}
    <form id="reject-post-form" class="d-inline-block" novalidate>
        <input type="hidden" name="status" value="{{ PostStatus.REJECTED.value }}">
        <button type="submit" class="btn btn-danger btn-sm">
            <i class="bi bi-x-lg"></i> Reject post
        </button>
        <label><input type="text" class="form-control form-control-sm" name="comment" id="comment"
                      placeholder="Comment"></label>
    </form>

    <script>
      document.addEventListener("DOMContentLoaded", () => {
        handleFormSubmit("#reject-post-form", "{{ url("update-post-status", post_id=post.id) }}", {
          method: "POST",
          rules: {
            comment: [
              {rule: "required"},
              {rule: "minLength", value: 2},
              {rule: "maxLength", value: 100}
            ]
          },
          onSuccess: (res) => {
            if (res) window.location.href = res
          },
          successMessage: "Post rejected!"
        })
      })
    </script>
{% endif %}