<div class="share">
    {{ share_label | default("Share this content") }}:
    <div class="btn-group" role="group" aria-label="Share buttons">
        <a href="#" class="btn btn-light share-btn twitter" target="_blank" title="Share on Twitter">
            <i class="bi bi-twitter"></i>
        </a>
        <a href="#" class="btn btn-light share-btn facebook" target="_blank" title="Share on Facebook">
            <i class="bi bi-facebook"></i>
        </a>
        <a href="#" class="btn btn-light share-btn linkedin" target="_blank" title="Share on LinkedIn">
            <i class="bi bi-linkedin"></i>
        </a>
        <a href="#" class="btn btn-light share-btn email" target="_blank" title="Share via Email">
            <i class="bi bi-envelope"></i>
        </a>
    </div>
</div>