<div class="share">
    {{ share_label | default("Share this content") }}:
    <div class="btn-group" role="group" aria-label="Share buttons">
        <a href="#" class="btn btn-light share-btn twitter bi bi-twitter" target="_blank" title="Share on Twitter"></a>
        <a href="#" class="btn btn-light share-btn facebook bi bi-facebook" target="_blank" title="Share on Facebook"></a>
        <a href="#" class="btn btn-light share-btn linkedin bi bi-linkedin" target="_blank" title="Share on LinkedIn"></a>
        <a href="#" class="btn btn-light share-btn email bi bi-envelope" target="_blank" title="Share via Email"></a>
    </div>
</div>