<div class="d-flex gap-1 align-items-center user-impressions">
    <!-- Counts -->
    <div><b class="followers-count">{{ user.followers_count }}</b> Followers</div>
    <div><b class="following-count">{{ user.following_count }}</b> Following</div>

    {% if cur_user and check_auth(cur_user, Permission.UPDATE_USER_IMPRESSION, user) and cur_user.id != user.id %}
        <div class="btn-group">
            <!-- Follow / Unfollow Button -->
            {% set is_followed = user_impression and user_impression.action == UserImpressionAction.FOLLOW %}
            <button type="button"
                    class="btn btn-user-follow {% if is_followed %}btn-success active{% else %}btn-light{% endif %}"
                    data-user-id="{{ user.id }}"
                    data-action="{{ UserImpressionAction.FOLLOW.value }}"
                    title="{% if is_followed %}Unfollow this user{% else %}Follow this user{% endif %}">
                {% if is_followed %}<i class="bi bi-heart-fill"></i>{% endif %} {% if is_followed %}Following{% else %}
                Follow{% endif %}
            </button>

            <!-- Block / Unblock Button -->
            {% set is_blocked = user_impression and user_impression.action == UserImpressionAction.BLOCK %}
            <button type="button"
                    class="btn btn-user-block {% if is_blocked %}btn-danger active{% else %}btn-light{% endif %}"
                    data-user-id="{{ user.id }}"
                    data-action="{{ UserImpressionAction.BLOCK.value }}"
                    title="{% if is_blocked %}Unblock this user{% else %}Block this user{% endif %}">
                {% if is_blocked %}<i class="bi bi-x-lg"></i>{% endif %} {% if is_blocked %}Blocked{% else %}
                Block{% endif %}
            </button>
        </div>
    {% endif %}
</div>