<div class="d-flex gap-1 align-items-center">
    <!-- Counts -->
    <div><b>{{ user.followers_count }}</b> Followers</div>
    <div><b>{{ user.following_count }}</b> Following</div>

    {% if cur_user and check_auth(cur_user, Permission.UPDATE_USER_IMPRESSION, user) and not (cur_user.id == user.id) %}
        <!-- Follow / Unfollow Button -->
        <div class="btn-group">
            {% set is_followed = user_impression and user_impression.action == UserImpressionAction.FOLLOW %}
            <button type="button"
                    class="btn btn-outline-success btn-sm btn-user-follow {% if is_followed %}active{% endif %}"
                    data-user-id="{{ user.id }}"
                    data-action="{{ UserImpressionAction.FOLLOW.value }}"
                    data-bs-toggle="tooltip"
                    data-bs-title="{% if is_followed %}Unfollow this user{% else %}Follow this user{% endif %}">
                <i class="bi {% if is_followed %}bi-check-lg{% else %}bi-follow{% endif %}"></i>
                {% if is_followed %}Unfollow{% else %}Follow{% endif %}
            </button>

            <!-- Block / Unblock Button -->
            {% set is_blocked = user_impression and user_impression.action == UserImpressionAction.BLOCK %}
            <button type="button"
                    class="btn btn-outline-danger btn-sm btn-user-block {% if is_blocked %}active{% endif %}"
                    data-user-id="{{ user.id }}"
                    data-action="{{ UserImpressionAction.BLOCK.value }}"
                    data-bs-toggle="tooltip"
                    data-bs-title="{% if is_followed %}Unblock this user{% else %}Block this user{% endif %}">
                <i class="bi {% if is_followed %}bi-check-lg{% else %}bi-block{% endif %}"></i>
                {% if is_blocked %}Unblock{% else %}Block{% endif %}
            </button>
        </div>
    {% endif %}
</div>