{% set is_anonymous = not cur_user %}
{% set has_permission = cur_user and check_auth(cur_user, Permission.UPDATE_USER_IMPRESSION, user) %}

<div class="d-flex gap-1 align-items-center">
    <!-- Counts -->
    <div class="d-flex gap-1 align-items-center">
        <div><b>{{ user.followers_count }}</b> Followers</div>
        <div><b>{{ user.following_count }}</b> Following</div>
    </div>

    {% if has_permission and not (cur_user.id == user.id) %}
        <!-- Action Buttons -->
        <div class="d-flex gap-1 align-items-center">
            <!-- Follow / Unfollow Button -->
            <span data-bs-toggle="tooltip"
                  data-bs-title="{% if user_impression and user_impression.action == UserImpressionAction.FOLLOW %}Unfollow this user{% else %}Follow this user{% endif %}">
                <button type="button"
                        class="btn btn-success btn-sm btn-user-follow"
                        data-user-id="{{ user.id }}"
                        data-action="{{ UserImpressionAction.FOLLOW.value }}">
                    <i class="bi {% if user_impression and user_impression.action == UserImpressionAction.FOLLOW %}bi-check-lg{% else %}bi-follow{% endif %}"></i>
                    {% if user_impression and user_impression.action == UserImpressionAction.FOLLOW %}Unfollow{% else %}
                        Follow{% endif %}
                </button>
            </span>

            <!-- Block / Unblock Button -->
            <span data-bs-toggle="tooltip"
                  data-bs-title="{% if user_impression and user_impression.action == UserImpressionAction.BLOCK %}Unblock this user{% else %}Block this user{% endif %}">
                <button type="button"
                        class="btn btn-danger btn-sm btn-user-block"
                        data-user-id="{{ user.id }}"
                        data-action="{{ UserImpressionAction.BLOCK.value }}">
                    <i class="bi {% if user_impression and user_impression.action == UserImpressionAction.BLOCK %}bi-check-lg{% else %}bi-block{% endif %}"></i>
                    {% if user_impression and user_impression.action == UserImpressionAction.BLOCK %}Unblock{% else %}
                        Block{% endif %}
                </button>
            </span>
        </div>
    {% endif %}
</div>