<div>
    {% if article_tag.image_filename %}
        {% with filename=article_tag.image_filename,
            alt=article_tag.name,
            img_class="img-fluid figure-img rounded",
            img_style="width:100%; height:100%; object-fit:cover;" %}
            {% include "fragments/image.html" %}
        {% endwith %}
    {% else %}
        <div class="d-flex align-items-center justify-content-center bg-light text-muted"
             style="width:100%; height:100%; font-weight:600; font-size:1.25rem;">
            {{ article_tag.name|upper }}
        </div>
    {% endif %}
</div>