<form class="row" id="article-form" novalidate>
    <div class="col col-12 col-lg-6 col-xl-8">
        <label class="w-100">
            <textarea class="form-control h1 border-0" id="title" name="title" placeholder="Title"
                      required rows="1" autofocus>{{ article.title if article else "" }}</textarea>
        </label>
    </div>

    <div class="col col-12 col-lg-6 col-xl-8 d-flex flex-column gap-2">
        <label class="w-100">
            <textarea class="form-control editor" id="content" name="content" placeholder="Content" rows="12"
                      required minlength="1000" maxlength="10000">{{ article.content if article else "" }}</textarea>
        </label>
    </div>

    <div class="col col-12 col-lg-6 col-xl-4 d-flex flex-column gap-2">
        <small class="text-secondary bi bi-tags"> Tags:</small>
        {% with url=url("get-article-tags", absolute=True), value=article.tags if article else [] %}
            {% include "fragments/tags-input.html" %}
        {% endwith %}

        <div>
            <button type="submit" class="btn btn-light">
                <i class="bi {% if article %}bi-arrow-clockwise{% else %}bi-plus-lg{% endif %}"></i>
                {% if article %}Update{% else %}Create{% endif %} article
            </button>
        </div>
    </div>
</form>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    handleFormSubmit("#article-form", {{ (url('update-article', article_id=article.id, absolute=True) if article else url('create-article', absolute=True)) | tojson }}, {
      method: "{{ 'PATCH' if article else 'POST' }}",
      rules: {
        title: [
          {rule: "required"},
          {rule: "minLength", value: 10},
          {rule: "maxLength", value: 500}
        ],
        content: [
          {rule: "required"},
          {rule: "minLength", value: 5_000},
          {rule: "maxLength", value: 100_000}
        ],
        tags: [
          {rule: "required"},
          {rule: "tags", minCnt: 1, maxCnt: 3, minLen: 2, maxLen: 40}
        ]
      },
      onSuccess: (res) => {
        if (res) window.location.href = res
      },
      successMessage: "Article created!"
    })
  })
</script>