{% for article_comment in latest_article_comments %}
    {% set article = article_comment.get_article() %}
    {% set user = article_comment.get_user() %}
    <div class="latest-article-comment g-3 pb-3 border-bottom"
         {% if article_comment.offset %}data-offset="{{ article_comment.offset }}"{% endif %}>

        <figure class="mb-0">
            <blockquote class="blockquote fs-6 m-0">
                <p class="text-dark italic">"{{ article_comment.text }}"</p>
            </blockquote>

            <figcaption class="blockquote-footer m-0 text-muted">
                <div class="row g-2">
                    <div class="col col-1">
                        <a href="{{ user_url(user) }}">
                            {% include "fragments/user-avatar.html" %}
                        </a>
                    </div>

                    <div class="col col-11 d-flex flex-column">
                        <a class="link-body-emphasis text-decoration-none d-flex flex-column"
                           href="{{ user_url(user) }}">
                            {{ user.name }}
                        </a>
                    </div>
                </div>
                <div class="small text-secondary">Commented on</div>
                <a class="link-body-emphasis text-decoration-none d-flex flex-column"
                   href="{{ article_url(article) }}">
                    {{ article.title }}
                </a>
                <div class="small">
                    <small class="article-comment-created-at text-secondary bi bi-calendar2">
                        {{ (article_comment.created_at / 1000) | unix_to_full_date }}
                    </small>

                    {% if article_comment.updated_at and article_comment.updated_at - article_comment.created_at > 86_400_000 %}
                        <small class="article-comment-updated-at text-secondary">
                            UPD:
                            {{ (article_comment.updated_at / 1000) | unix_to_full_date }}
                        </small>
                    {% endif %}
                </div>
            </figcaption>
        </figure>
    </div>
{% endfor %}
