{% extends "layout.html" %}

{% set title = "Contacts" %}
{% set meta_robots = "index, follow" %}
{% set show_details = contact_phone or contact_email or contact_address or contact_socials %}
{% set meta_title = title ~ " ~ " ~ site_name %}
{% set meta_canonical_url = url("contacts") %}

{% block breadcrumbs %}
    {% with breadcrumbs = {"Home": url("index"), "Contacts": None} %}
        {% include "fragments/breadcrumbs.html" %}
    {% endwith %}
{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    <p class="small text-secondary">Contact us</p>

    <div class="row g-5">
        <div class="col col-12 {% if show_details %}col-lg-6 col-xl-8{% endif %} d-flex flex-column gap-4">
            <form class="row g-3" id="contact-form" novalidate>
                <label class="col col-12">
                    <input type="text" class="form-control" id="name" name="name" placeholder="Your Name"
                           value="{{ cur_user.name if cur_user else '' }}" required>
                </label>

                <label class="col col-12">
                    <input type="email" class="form-control" id="email" name="email" placeholder="Your Email"
                           value="{{ cur_user.email if cur_user else '' }}" required>
                </label>

                <label class="col col-12">
                    <textarea class="form-control" id="message" name="message" placeholder="Your Message" rows="10"
                              required></textarea>
                </label>

                <div class="col col-12">
                    <button type="submit" class="btn btn-light">
                        Send message
                        <i class="bi bi-chevron-right"></i>
                    </button>
                </div>
            </form>
        </div>
        {% if show_details %}
            <div class="col col-12 col-lg-6 col-xl-4 d-flex flex-column gap-4">
                <h2 class="mb-0 text-decoration-underline"> Contact details</h2>
                <div class="d-flex flex-column gap-3">
                    {% if contact_phone %}
                        <div>
                            <i class="bi bi-telephone-outbound"></i> Phone
                            <a class="d-block link-body-emphasis" href="tel:{{ contact_phone }}">{{ contact_phone }}</a>
                        </div>
                    {% endif %}

                    {% if contact_email %}
                        <div>
                            <i class="bi bi-envelope-at"></i> Email
                            <a class="d-block link-body-emphasis"
                               href="mailto:{{ contact_email }}">{{ contact_email }}</a>
                        </div>
                    {% endif %}

                    {% if contact_address %}
                        <div>
                            <i class="bi bi-geo"></i> Address
                            <div>{{ contact_address }}</div>
                        </div>
                    {% endif %}

                    {% if contact_socials %}
                        <div>
                            <i class="bi bi-people"></i> Socials
                            <div class="h3">
                                {% for contact_social in contact_socials %}
                                    <a href="{{ contact_social.url }}" class="link-dark" target="_blank"
                                       rel="noopener noreferrer">
                                        <i class="bi bi-{{ contact_social.icon }}"></i>
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", () => {
        handleFormSubmit("#contact-form", "{{ url('create-contact-message') }}", {
          rules: {
            name: [
              {rule: "required"},
              {rule: "minLength", value: 2},
              {rule: "maxLength", value: 100}
            ],
            email: [
              {rule: "required"},
              {rule: "email"}
            ],
            message: [
              {rule: "required"},
              {rule: "minLength", value: 5},
              {rule: "maxLength", value: 1000}
            ]
          },
          successMessage: "Message sent!",
          authRequired: false
        })
      })
    </script>
{% endblock %}