{% extends "layout.html" %}

{% block title %}Create post | {{ site_name }}{% endblock %}
{% block canonical_url %}{{ full_url("create-post") }}{% endblock %}

{% block breadcrumbs %}
    {% with breadcrumbs = {"Home": url("index"), "Create post": None} %}
        {% include "fragments/breadcrumbs.html" %}
    {% endwith %}
{% endblock %}

{% block content %}
    <h1>Create post</h1>
    <p class="small text-secondary">Publish a new article</p>
    <div class="row">
        <div class="col-12 col-md-8">
            <form class="row g-3" id="post-form" novalidate>
                <label class="col-12">
                    <input type="text" class="form-control" id="title" name="title" placeholder="Title" required
                           minlength="20" maxlength="500">
                </label>

                <label class="col-12">
                    <textarea class="form-control" id="content" name="content" placeholder="Content" rows="12" required
                              minlength="1000" maxlength="10000"></textarea>
                </label>

                <div class="col-12">
                    {% with url=url("get-post-tags") %}
                        {% include "fragments/tags-input.html" %}
                    {% endwith %}
                </div>

                <div class="col-12">
                    <button type="submit" class="btn btn-light">
                        Create Post <i class="bi bi-chevron-right"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", () => {
        handleFormSubmit("#post-form", "{{ url('create-post') }}", {
          rules: {
            title: [
              {rule: "required"},
              {rule: "minLength", value: 20},
              {rule: "maxLength", value: 500}
            ],
            content: [
              {rule: "required"},
              {rule: "minLength", value: 1000},
              {rule: "maxLength", value: 10000}
            ],
            tags: [
              {rule: "required"},
              {rule: "tags", minCnt: 1, maxCnt: 3, minLen: 2, maxLen: 20}
            ]
          },
          onSuccess: (res) => {
            if (res.url) window.location.href = res.url
          },
          successMessage: "Post created!"
        })
      })
    </script>
{% endblock %}