{% extends "layout.html" %}

{% set title = ("Edit " ~ post_tag.name) | trim %}
{% set meta_title = title ~ " " ~ site_name %}
{% set meta_canonical_url = url("edit-post-tag", slug=post_tag.slug) %}

{% block breadcrumbs %}
    {% with breadcrumbs = {"Home": url("index"), "Posts": posts_url(), (post_tag.name|title): posts_url(tags=[post_tag.slug]), "Edit": None} %}
        {% include "fragments/breadcrumbs.html" %}
    {% endwith %}
{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    <p class="small text-secondary">Update post tag</p>
    {% include "fragments/post-tag-form.html" %}
{% endblock %}