{% extends "layout.html" %}

{% set title = ("Edit " ~ article_tag.name) | trim %}
{% set meta_title = title ~ " " ~ site_name %}
{% set meta_canonical_url = url("edit-article-tag", slug=article_tag.slug, full=True) %}

{% block breadcrumbs %}
    {% with breadcrumbs = {"Home": url("index"), "Articles": articles_url(), (article_tag.name|title): articles_url(tags=[article_tag.slug]), "Edit": None} %}
        {% include "fragments/breadcrumbs.html" %}
    {% endwith %}
{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    <p class="small text-secondary">Update article tag</p>
    {% include "fragments/article-tag-form.html" %}
{% endblock %}