{% extends "layout.html" %}

{% set title = ("Edit " ~ user.name) | trim %}

{% block meta_robots %}noindex, nofollow{% endblock %}
{% block meta_title %}{{ title }} | {{ site_name }}{% endblock %}
{% block meta_canonical %}{{ url("edit-user", user_id=user.id) }}{% endblock %}

{% block breadcrumbs %}
    {% with breadcrumbs = {"Home": url("index"), "Users": users_url(), (user.name): url("user-page", user_id=user.id), "Edit": None} %}
        {% include "fragments/breadcrumbs.html" %}
    {% endwith %}
{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    <p class="small text-secondary">Update profile</p>
    {% include "fragments/user-form.html" %}
{% endblock %}