{% extends "layout.html" %}

{% set title = ("Edit " ~ post.title) | trim %}

{% block meta_title %}{{ title }} | {{ site_name }}{% endblock %}
{% block meta_canonical %}{{ url("edit-post", post_id=post.id) }}{% endblock %}

{% block breadcrumbs %}
    {% with breadcrumbs = {"Home": url("index"), "Posts": url("posts"), (post.title): post_url(post), "Edit": None} %}
        {% include "fragments/breadcrumbs.html" %}
    {% endwith %}
{% endblock %}

{% block content %}
{#    <h1>{{ title }}</h1>#}
{#    <p class="small text-secondary">Update post</p>#}
    {% include "fragments/post-form.html" %}
{% endblock %}