{% extends "layout.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1>{{ code }} - {{ title }}</h1>
    <p class="small text-secondary">{{ message }}</p>
    <a href="{{ url('index') }}" class="btn btn-sm btn-secondary">
        <i class="bi bi-arrow-left-short"></i>
        {{ error_back_home_label | default("Back home") }}
    </a>
    {% if code == 401 %}
        <a href="{{ url('login') }}" class="btn btn-dark">
            <i class="bi bi-box-arrow-in-right"></i>
            {{ header_login_label | default("Sign in") }}
        </a>
    {% endif %}
{% endblock %}