{% extends "layout.html" %}

{% set meta_title = site_name ~ " - " ~ site_short_desc %}
{% set meta_robots = "index, follow" %}
{% set meta_canonical_url = url("index") %}

{% block content %}
    <div class="row g-5 pt-4">
        <div class="col col-12 col-lg-6 col-xl-8">
            <h1 class="h2 d-inline-block">{{ site_name }}</h1>
            <p class="small text-secondary d-inline-block">&mdash; {{ site_short_desc }}</p>
            <p>{{ site_desc }}</p>
            {% if index_image %}
                <img src="{{ static_url(index_image.filename) }}"
                     class="img-fluid"
                     width="{{ index_image.width }}" height="{{ index_image.height }}"
                     alt="{{ index_image.alt }}">
            {% endif %}

            <section class="d-flex flex-column gap-3">
                <h2 class="mb-0">
                    <a href="{{ posts_url() }}" class="link-body-emphasis bi bi-clock-fill"> Latest posts</a>
                </h2>
                {% if latest_posts %}
                    <div id="posts" class="d-flex flex-column gap-3">
                        {% with posts=latest_posts, h_tag_size=3 %}
                            {% include "fragments/posts.html" %}
                        {% endwith %}
                    </div>

                    {% with limit=latest_posts_query.limit,
                        offset=latest_posts[-1].offset,
                        count=latest_posts | length,
                        url=url("posts-fragment", **latest_posts_query.get_dict()),
                        container="#posts",
                        auto_click=True %}
                        {% include "fragments/load-more-button.html" %}
                    {% endwith %}

                    <div>
                        <a href="{{ posts_url(type=PostQueryType.LATEST) }}" class="btn btn-light btn-sm bi bi-clock">
                            See all latest posts
                        </a>
                        <a href="{{ posts_url(type=PostQueryType.LATEST) }}" class="btn btn-light btn-sm bi bi-tags">
                            Search latest posts by tags
                        </a>
                    </div>
                {% else %}
                    <div>N/A</div>
                {% endif %}
            </section>
        </div>

        <div class="col col-12 col-lg-6 col-xl-4 d-flex flex-column gap-4 border-start">
            {% if show_popular_posts %}
                <section class="d-flex flex-column gap-3">
                    <h2 class="mb-0">
                        <a href="{{ posts_url(type=PostQueryType.POPULAR) }}"
                           class="link-body-emphasis bi bi-star-fill">
                            Popular posts
                        </a>
                    </h2>
                    {% if popular_posts %}
                        <div id="popular-posts" class="d-flex flex-column gap-3">
                            {% with posts=popular_posts,
                            preview=False,
                            border=False,
                            vert_gap=0,
                            h_tag_size=3,
                            h_display_size=6 %}
                                {% include "fragments/posts.html" %}
                            {% endwith %}

                            <div>
                                <a href="{{ posts_url(type=PostQueryType.POPULAR) }}"
                                   class="btn btn-light btn-sm bi bi-star">
                                    See all popular posts
                                </a>
                                <a href="{{ posts_url(type=PostQueryType.POPULAR) }}"
                                   class="btn btn-light btn-sm bi bi-tags">
                                    Search popular posts by tags
                                </a>
                            </div>
                        </div>
                    {% else %}
                        <div>N/A</div>
                    {% endif %}
                </section>
            {% endif %}

            <section class="d-flex flex-column gap-3">
                <h2 class="mb-0 text-decoration-underline bi bi-tags-fill"> Popular tags</h2>
                {% if popular_post_tags %}
                    <div id="popular-post-tags">
                        {% for tag in popular_post_tags %}
                            <a href="{{ posts_url(tags=[tag.name]) }}" class="btn btn-light btn-sm post-tag mb-1">
                                <h3 class="h6 fw-normal mb-0">{{ tag.name }} ({{ tag.posts_count }})</h3>
                            </a>
                        {% endfor %}

                        <div>
                            <a href="{{ posts_url() }}" class="btn btn-light btn-sm bi bi-tags">
                                Search posts by tags
                            </a>
                        </div>
                    </div>
                {% else %}
                    <div>N/A</div>
                {% endif %}
            </section>

            {% if cur_user and cur_user.published_posts_count==0 %}
                <section class="card">
                    <div class="card-body d-flex flex-column gap-2">
                        <div class="d-flex align-items-center gap-2 fw-semibold">
                            <i class="bi bi-lightbulb"></i>
                            <h2 class="h4 mb-0">Become an author</h2>
                        </div>

                        <div class="text-muted small">
                            Share your ideas and earn money from your content.
                        </div>

                        <div>
                            <a href="{{ url("earn") }}" class="btn btn-warning fw-semibold bi bi-currency-dollar">
                                Earn with us
                            </a>
                            <a href="{{ url('new-post') }}"
                               class="btn btn-light fw-semibold bi bi-pencil-fill{% if cur_user.status == UserStatus.BANNED %} disabled{% endif %}">
                                Write a post
                            </a>
                        </div>
                    </div>
                </section>
            {% endif %}

            {% if not cur_user %}
                <section class="card">
                    <div class="card-body d-flex flex-column gap-2">
                        <div class="d-flex align-items-center gap-2 fw-semibold">
                            <h2 class="h4 mb-0">
                                Become an Author
                            </h2>
                        </div>

                        <div class="text-muted small">
                            Join our community, share your ideas, and earn money from your content.
                        </div>

                        <div>
                            <a href="{{ url("earn") }}" class="btn btn-warning fw-semibold bi bi-currency-dollar">
                                Earn with us
                            </a>
                            <a href="{{ url('login', redirect_url=url('new-post') | urlencode) }}"
                               class="btn btn-primary fw-semibold bi bi-pencil-fill">
                                Write a post
                            </a>
                        </div>
                    </div>
                </section>
            {% endif %}

            <section class="d-flex flex-column gap-3">
                <h2 class="mb-0 text-decoration-underline">
                    <a href="{{ users_url(type=UserQueryType.POPULAR) }}" class="link-body-emphasis bi bi-heart-fill">
                        Popular authors
                    </a>
                </h2>
                {% if popular_users %}
                    <div id="popular-users" class="d-flex flex-column gap-3">
                        {% with users=popular_users,
                            border=False,
                            vert_gap=0,
                            h_tag_size=3,
                            h_display_size=6,
                            image_col_size=2 %}
                            {% include "fragments/users.html" %}
                        {% endwith %}

                        <div>
                            <a href="{{ users_url(type=UserQueryType.POPULAR) }}"
                               class="btn btn-light btn-sm bi bi-heart">
                                See all popular authors
                            </a>
                        </div>
                    </div>
                {% else %}
                    <div>N/A</div>
                {% endif %}
            </section>
        </div>
    </div>
{% endblock %}