{% extends "layout.html" %}

{% block title %}{{ site_name }} - {{ site_about }}{% endblock %}
{% block canonical_url %}{{ full_url("index") }}{% endblock %}

{% block content %}
    <h1>{{ site_name }}</h1>
    <p class="small text-secondary">{{ site_about }}</p>

    <div class="row">
        <div class="col-8">
            <img src="{{ static_url('pikachu.webp') }}" alt="test" class="w-50"/>
            <div>
                <h2>Latest posts</h2>
                {% if posts %}
                    <div id="posts">
                        {% include "fragments/posts.html" %}
                    </div>
                    {% with limit=posts_query.limit,
                        offset=posts[-1].offset,
                        count=posts|length,
                        url=url("posts-fragment", **dict(posts_query)),
                        container="#posts",
                        auto_click=True %}
                        {% include "fragments/load-more-button.html" %}
                    {% endwith %}
                {% else %}
                    N/A
                {% endif %}
            </div>
        </div>
        <div class="col-4">
            <div>
                <h2>Popular posts</h2>
                {% if popular_posts %}
                    {% for post in popular_posts %}
                        <div>
                            <a href="{{ url("post", post_id=post.id) }}">
                                {{ post.title }}
                            </a>
                        </div>
                    {% endfor %}
                {% else %}
                    N/A
                {% endif %}
            </div>

            <div>
                <h2>Popular post tags</h2>
                {% if popular_post_tags %}
                    {% for tag in popular_post_tags %}
                        <a href="{{ url("posts", tags=tag.name) }}" class="btn btn-light btn-sm">
                            {{ tag.name }}
                        </a>
                    {% endfor %}
                {% else %}
                    N/A
                {% endif %}
            </div>

            <div>
                <h2>Popular users</h2>
                {% if popular_users %}
                    {% for user in popular_users %}
                        {% include "fragments/user-inline.html" %}
                    {% endfor %}
                {% else %}
                    N/A
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}