{% set index_url = url("index") %}
{% set css_filenames = [
    "https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css",
    static_url('styles.css'),
] %}

<!DOCTYPE html>
<html lang="en">
<head>
    <base href="{{ base_url }}">
    <link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin>
    <link rel="preconnect" href="https://unpkg.com" crossorigin>

    {% if google_analytics_id %}
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ google_analytics_id }}"></script>
        <script>
          window.dataLayer = window.dataLayer || []
          dataLayer.push("js", new Date())
          dataLayer.push("config", "{{ google_analytics_id }}")
        </script>
    {% endif %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block meta_title %}{{ meta_title }}{% endblock %}</title>
    <meta name="description" content="
        {%- block meta_description %}{{ meta_description | truncate(155, True, '...') }}{% endblock %}"/>
    <meta name="keywords" content="{% block meta_keywords %}{{ meta_keywords }}{% endblock %}"/>
    <meta name="author" content="{% block meta_author %}{{ meta_author }}{% endblock %}"/>
    <link rel="canonical" href="{% block meta_canonical %}{% endblock %}">
    <link rel="alternate" href="{% block meta_alternate %}{% endblock %}">

    <meta name="application-name" content="{{ site_name }}"/>
    <meta name="mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-title" content="{{ site_name }}"/>

    <meta property="og:title" content="{{ site_title }}"/>
    <meta property="og:description" content="{{ site_desc }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{ index_url }}"/>
    <meta property="og:image" content="{{ static_url(site_img_filename) }}"/>
    <meta property="og:image:width" content="{{ site_img_width }}"/>
    <meta property="og:image:height" content="{{ site_img_height }}"/>
    <meta property="og:image:alt" content="{{ site_img_alt }}"/>
    <meta property="article:author" content="{{ site_name }}"/>

    <script type="application/ld+json">{% block meta_schema %}{{ meta_schema | tojson | safe }}{% endblock %}</script>

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{{ static_url("favicon-96x96.png") }}" sizes="96x96"/>
    <link rel="icon" type="image/svg+xml" href="{{ static_url("favicon.svg") }}"/>
    <link rel="shortcut icon" href="{{ static_url("favicon.ico") }}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ static_url("apple-touch-icon.png") }}"/>
    <meta name="apple-mobile-web-app-title" content="{{ site_name }}"/>
    <link rel="manifest" href="{{ static_url("site.webmanifest") }}"/>

    {% for css_filename in css_filenames %}
        <link rel="stylesheet" href="{{ css_filename }}">
    {% endfor %}
</head>

<body class="d-flex flex-column min-vh-100">

<header class="d-print-none">
    <nav class="navbar navbar-expand-md bg-{{ header_bg }}"
         data-bs-theme="{{ header_bs }}">
        <div class="container">
            <a class="navbar-brand link-secondary" style="outline:none" href="{{ index_url }}">
                {{ site_name }} <i class="bi bi-{{ site_icon }}"></i>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
                    aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url("posts") }}">Posts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url("users") }}">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url("contacts") }}">Contacts</a>
                    </li>
                </ul>

                <ul class="navbar-nav">
                    {% if cur_user %}
                        {% if check_auth(cur_user, Permission.CREATE_POST) %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url("new-post") }}">
                                    <i class="bi bi-pencil-fill"></i> New post
                                </a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ user_url(cur_user) }}">
                                <i class="bi bi-person-circle"></i> {{ cur_user.name }}
                                {% if check_auth(cur_user, Permission.ROOT) %}
                                    <span class="badge text-bg-success">root</span>
                                {% endif %}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url("logout") }}">
                                Sign out <i class="bi bi-box-arrow-right"></i>
                            </a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url("login", redirect_url=url("new-post")|urlencode) }}">
                                <i class="bi bi-pencil-fill"></i> New post
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url('login') }}">
                                <i class="bi bi-box-arrow-in-right"></i> Sign in
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>

<main>
    <div class="container pb-3">
        {% block breadcrumbs %}{% endblock %}
        {% block content %}{% endblock %}
    </div>
</main>

<footer class="mt-auto bg-light text-center text-md-start d-print-none">
    <div class="container py-3">
        &copy; {{ footer_current_year }} {{ site_name }}

        {% if contact_socials %}
            <div class="h3 mt-1">
                {% for contact_social in contact_socials %}
                    <a href="{{ contact_social.url }}" class="link-dark" target="_blank" rel="noopener noreferrer">
                        <i class="bi bi-{{ contact_social.icon }}"></i></a>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</footer>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
<!--bs-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
        crossorigin="anonymous"></script>
<!--form validation-->
<script src="https://unpkg.com/just-validate@latest/dist/just-validate.production.min.js"></script>
<!--tags input-->
{#<script src="https://unpkg.com/@yaireo/tagify@3.1.0"></script>#}
<script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify"></script>
<script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.polyfills.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css"/>
<!--jquery-->
<script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<!--editor-->
{% if tinymce_api_key %}
    <script src="https://cdn.tiny.cloud/1/{{ tinymce_api_key }}/tinymce/8/tinymce.min.js" referrerpolicy="origin"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tinymce/tinymce-jquery/dist/tinymce-jquery.min.js"></script>
{% endif %}
<!--custom-->
<script>
  window.CONFIG = {
    current_user: {{ ({"id": cur_user.id} | tojson) if cur_user else "null" }},
    update_post_status_url: "{{ url("update-post-status", post_id="{post_id}") }}",
    update_post_impression_url: "{{ url("update-post-impression", post_id="{post_id}") }}",
    update_user_status_url: "{{ url("update-user-status", user_id="{user_id}") }}",
    update_user_impression_url: "{{ url("update-user-impression", user_id="{user_id}") }}",
    init_tinymce: {% if tinymce_api_key %}true{% else %}false{% endif %},
    css_filenames: {{ css_filenames | tojson | safe }},
    base_url: "{{ base_url }}",
    static_relative_url: "{{ static_url("{filename}") }}",
    upload_public_file_url: "{{ url("upload-public-file") }}"
  }
</script>
<script src="{{ static_url('scripts.js') }}"></script>
</body>
</html>