<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin>
    <link rel="preconnect" href="https://unpkg.com" crossorigin>

    {% if google_analytics_id %}
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ google_analytics_id }}"></script>
        <script>
          window.dataLayer = window.dataLayer || []

          function gtag() {
            dataLayer.push(arguments)
          }

          gtag("js", new Date())
          gtag("config", "{{ google_analytics_id }}")
        </script>
    {% endif %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %}</title>

    {% if head_meta_name %}
        {% for key, val in head_meta_name.items() %}
            <meta name="{{ key }}" content="{{ val }}"/>
        {% endfor %}
    {% endif %}

    {% if head_meta_property %}
        {% for key, val in head_meta_property.items() %}
            <meta property="{{ key }}" content="{{ val }}"/>
        {% endfor %}
    {% endif %}

    {% if head_schema_org %}
        <script type="application/ld+json">{{ head_schema_org | tojson | safe }}</script>
    {% endif %}

    {% if head_favicon and head_favicon.active %}
        {% if head_favicon.generator == "realfavicongenerator" %}
            <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96"/>
            <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
            <link rel="shortcut icon" href="/favicon.ico"/>
            <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png"/>
            <link rel="manifest" href="/site.webmanifest"/>
        {% endif %}
    {% endif %}

    <link rel="canonical" href="{% block canonical_url %}{% endblock %}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{{ static_url('styles.css') }}">
</head>

<body class="d-flex flex-column min-vh-100">

<header class="d-print-none">
    <nav class="navbar navbar-expand-md bg-{{ header_bg }}"
         data-bs-theme="{{ header_bs }}">
        <div class="container">
            <a class="navbar-brand" style="outline:none" href="/">{{ site_name | default("Blog") }}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
                    aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('posts-page') }}">
                            {{ posts_nav_label | default("Posts") }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('users-page') }}">
                            {{ users_nav_label | default("Users") }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('contacts-page') }}">
                            {{ contacts_nav_label | default("Contacts") }}
                        </a>
                    </li>
                </ul>
                {% if cur_user %}
                    <div>
                        <a href="{{ url('create-post-page') }}" class="btn btn-outline-secondary btn-sm">
                            <i class="bi bi-pencil-square"></i> {{ header_create_post_label | default("Create post") }}
                        </a>
                        <i class="bi bi-person-circle"></i> <a
                            href="{{ url("user-page", user_id=cur_user.id) }}">{{ cur_user.name }}</a>
                        <a href="{{ url('logout') }}" class="btn btn-outline-secondary btn-sm">
                            {{ header_logout_label | default("Sign out") }} <i
                                class="bi bi-box-arrow-right"></i>
                        </a>
                    </div>
                {% else %}
                    <a href="{{ url('login') }}" class="btn btn-secondary btn-sm">
                        <i class="bi bi-box-arrow-in-right"></i>
                        {{ header_login_label | default("Sign in") }}
                    </a>
                {% endif %}
            </div>
        </div>
    </nav>
</header>

<main>
    <div class="container">
        {% block breadcrumbs %}{% endblock %}
        {% block content %}{% endblock %}
    </div>
</main>

<footer class="mt-auto bg-light text-center text-md-start d-print-none">
    <div class="container py-3">
        &copy; {{ footer_current_year | default("2025") }} {{ site_name }}

        {% if contact_socials %}
            <div class="h3 mt-1">
                {% for contact_social in contact_socials %}
                    <a href="{{ contact_social.url }}" class="link-dark" target="_blank" rel="noopener noreferrer">
                        <i class="bi bi-{{ contact_social.icon }}"></i></a>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/just-validate@latest/dist/just-validate.production.min.js"></script>
<script src="{{ static_url('scripts.js') }}"></script>
</body>
</html>