<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin>
    <link rel="preconnect" href="https://unpkg.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">

    {% if google_analytics_id %}
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ google_analytics_id }}"></script>
        <script>
          window.dataLayer = window.dataLayer || []

          function gtag() {
            dataLayer.push(arguments)
          }

          gtag("js", new Date())
          gtag("config", "{{ google_analytics_id }}")
        </script>
    {% endif %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %}</title>

    {% if head_meta_name %}
        {% for key, val in head_meta_name.items() %}
            <meta name="{{ key }}" content="{{ val }}"/>
        {% endfor %}
    {% endif %}

    {% if head_meta_property %}
        {% for key, val in head_meta_property.items() %}
            <meta property="{{ key }}" content="{{ val }}"/>
        {% endfor %}
    {% endif %}

    {% if head_schema_org %}
        <script type="application/ld+json">{{ head_schema_org | tojson | safe }}</script>
    {% endif %}

    {% if head_favicon and head_favicon.active %}
        {% if head_favicon.generator == "realfavicongenerator" %}
            <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96"/>
            <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
            <link rel="shortcut icon" href="/favicon.ico"/>
            <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png"/>
            <link rel="manifest" href="/site.webmanifest"/>
        {% endif %}
    {% endif %}

    <link rel="canonical" href="{% block canonical_url %}{% endblock %}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Figtree:wght@400;700&family=Cal+Sans&display=swap">
    <link rel="stylesheet" href="{{ static_url('styles.css') }}">
</head>

<body class="d-flex flex-column min-vh-100">

<header class="d-print-none">
    <nav class="navbar navbar-expand-md bg-{{ header_bg }}"
         data-bs-theme="{{ header_bs }}">
        <div class="container">
            <a class="navbar-brand link-secondary" style="outline:none" href="/">{{ site_name }}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
                    aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url("posts") }}">Posts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url("users") }}">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url("contacts") }}">Contacts</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    {% if cur_user %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url("new-post") }}">
                                <i class="bi bi-pencil-square"></i> Create post
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ user_url(cur_user) }}">
                                <i class="bi bi-person-circle"></i> {{ cur_user.name }}
                                {% if check_auth(cur_user, Permission.ROOT) %}
                                    <span class="badge text-bg-success">root</span>
                                {% endif %}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url("logout") }}">
                                Sign out <i class="bi bi-box-arrow-right"></i>
                            </a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url('login') }}">
                                <i class="bi bi-box-arrow-in-right"></i> Sign in
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>

<main>
    <div class="container">
        {% block breadcrumbs %}{% endblock %}
        {% block content %}{% endblock %}
    </div>
</main>

<footer class="mt-auto bg-light text-center text-md-start d-print-none">
    <div class="container py-3">
        &copy; {{ footer_current_year }} {{ site_name }}

        {% if contact_socials %}
            <div class="h3 mt-1">
                {% for contact_social in contact_socials %}
                    <a href="{{ contact_social.url }}" class="link-dark" target="_blank" rel="noopener noreferrer">
                        <i class="bi bi-{{ contact_social.icon }}"></i></a>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</footer>
<!--bs-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
        crossorigin="anonymous"></script>
<!--form validation-->
<script src="https://unpkg.com/just-validate@latest/dist/just-validate.production.min.js"></script>
<!--tags input-->
{#<script src="https://unpkg.com/@yaireo/tagify@3.1.0"></script>#}
<script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify"></script>
<script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.polyfills.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css"/>
<!--jquery-->
<script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<!--custom-->
<script>
  window.CONFIG = {
    "current_user": {{ ({"id": cur_user.id} | tojson) if cur_user else "null" }},
    "update_post_status_url": "{{ url("update-post-status", post_id="{post_id}") }}",
    "update_post_impression_url": "{{ url("update-post-impression", post_id="{post_id}") }}",
    "update_user_impression_url": "{{ url("update-user-impression", user_id="{user_id}") }}"
  }
</script>
<script src="{{ static_url('scripts.js') }}"></script>
</body>
</html>