{% extends "layout.html" %}

{% block meta_robots %}noindex, nofollow{% endblock %}
{% block meta_title %}New post | {{ site_name }}{% endblock %}
{% block meta_canonical %}{{ url("create-post") }}{% endblock %}

{% block breadcrumbs %}
    {% with breadcrumbs = {"Home": url("index"), "Posts": posts_url(), "New": None} %}
        {% include "fragments/breadcrumbs.html" %}
    {% endwith %}
{% endblock %}

{% block content %}
{#    <h1>New post</h1>#}
{#    <p class="small text-secondary">Create a new article</p>#}
    {% include "fragments/post-form.html" %}
{% endblock %}