{% extends "layout.html" %}

{% set val_map = {
    (PostQueryType.LATEST): {"title": "Latest", "subtitle": "Recently added", "icon": "clock-fill"},
    (PostQueryType.POPULAR): {"title": "Popular", "subtitle": "Most rated", "icon": "star-fill"},
    (PostStatus.PUBLISHED): {"title": "Published", "subtitle": "Published"},
    (PostStatus.UNPUBLISHED): {"title": "Unpublished", "subtitle": "Unpublished"},
    (PostStatus.REJECTED): {"title": "Rejected", "subtitle": "Rejected"}
} %}

{% set icon = val_map[posts_query.type]["icon"] if "icon" in val_map[posts_query.type] else None %}
{% set title = " ".join(posts_query.tags + [val_map[posts_query.type]["title"]] + [val_map[posts_query.status]["title"]] + ["Posts"]) | capitalize %}
{% set subtitle = " ".join(posts_query.tags + [val_map[posts_query.type]["subtitle"]] + [val_map[posts_query.status]["subtitle"]] + ["Articles"]) | capitalize %}

{% block meta_title %}{{ title }} | {{ site_name }}{% endblock %}
{% block meta_canonical %}{{ url("posts") }}{% endblock %}

{% block breadcrumbs %}
    {% with breadcrumbs = {"Home": url("index"), (title): None} %}
        {% include "fragments/breadcrumbs.html" %}
    {% endwith %}
{% endblock %}

{% block content %}
    <h1>{{ ('<i class="bi bi-'~icon~'"></i> ') if icon else "" }}{{ title }}</h1>
    <p class="small text-secondary">{{ subtitle }}</p>

    <div class="row g-5">
        <div class="col col-12 col-lg-6 col-xl-8 d-flex flex-column gap-4">
            {% if posts %}
                <div id="posts" class="d-flex flex-column gap-3">
                    {% include "fragments/posts.html" %}
                </div>

                {% with limit=posts_query.limit,
                    offset=posts[-1].offset,
                    count=posts|length,
                    url=url("posts-fragment", **posts_query.get_dict()),
                    container="#posts" %}
                    {% include "fragments/load-more-button.html" %}
                {% endwith %}
            {% else %}
                <div>N/A</div>
            {% endif %}
        </div>

        <div class="col col-12 col-lg-6 col-xl-4 d-flex flex-column gap-4 border-start">
            <h2 class="mb-0 text-decoration-underline">
                <i class="bi bi-filter"></i>
                Filter posts
            </h2>

            <form action="{{ url("posts") }}" method="get">
                <input type="hidden" name="type" value="{{ posts_query.type }}">
                <input type="hidden" name="status" value="{{ posts_query.status }}">

                <div class="d-flex flex-column gap-1">
                    {% if cur_user and check_auth(cur_user, Permission.READ_NON_PUBLISHED_POST) %}
                        <div>
                            <small class="text-secondary">
                                <i class="bi bi-flag"></i>
                                Filter by status:
                            </small>
                            <div class="btn-group">
                                {% set is_published = posts_query.status == PostStatus.PUBLISHED %}
                                <a href="{{ url("posts", **posts_query.get_dict({"status": None if is_published else PostStatus.PUBLISHED})) }}"
                                   class="btn {% if is_published %}btn-success active{% else %}btn-light{% endif %}">
                                    {{ val_map[PostStatus.PUBLISHED]["title"] }}
                                </a>

                                {% set is_unpublished = posts_query.status == PostStatus.UNPUBLISHED %}
                                <a href="{{ url("posts", **posts_query.get_dict({"status": None if is_unpublished else PostStatus.UNPUBLISHED})) }}"
                                   class="btn {% if is_unpublished %}btn-warning active{% else %}btn-light{% endif %}">
                                    {{ val_map[PostStatus.UNPUBLISHED]["title"] }}
                                </a>

                                {% set is_rejected = posts_query.status == PostStatus.REJECTED %}
                                <a href="{{ url("posts", **posts_query.get_dict({"status": None if is_rejected else PostStatus.REJECTED})) }}"
                                   class="btn {% if is_rejected %}btn-danger active{% else %}btn-light{% endif %}">
                                    {{ val_map[PostStatus.REJECTED]["title"] }}
                                </a>
                            </div>
                        </div>
                    {% endif %}

                    <div>
                        <small class="text-secondary">
                            <i class="bi bi-tags"></i>
                            Filter by tags:
                        </small>

                        {% with url=url("get-post-tags"),
                            value=posts_query.tags,
                            auto_submit=False,
                            inject_hidden=True %}
                            {% include "fragments/tags-input.html" %}
                        {% endwith %}

                        <button class="btn btn-light" type="submit">
                            <i class="bi bi-search"></i> Search
                        </button>
                    </div>

                    <div>
                        <small class="text-secondary">
                            <i class="bi bi-sort-down"></i>
                            Show:
                        </small>

                        <div class="btn-group">
                            {% set is_latest = posts_query.type == PostQueryType.LATEST %}
                            <a href="{{ url("posts", **posts_query.get_dict({"type": None if is_latest else PostQueryType.LATEST})) }}"
                               class="btn {% if is_latest %}btn-secondary active{% else %}btn-light{% endif %}">
                                <i class="bi bi-clock{{ "-fill" if is_latest else "" }}"></i> {{ val_map[PostQueryType.LATEST]["title"] }}
                                first
                            </a>
                            {% set is_popular = posts_query.type == PostQueryType.POPULAR %}
                            <a href="{{ url("posts", **posts_query.get_dict({"type": None if is_popular else PostQueryType.POPULAR})) }}"
                               class="btn {% if is_popular %}btn-primary active{% else %}btn-light{% endif %}">
                                <i class="bi bi-star{{ "-fill" if is_popular else "" }}"></i> {{ val_map[PostQueryType.POPULAR]["title"] }}
                                first
                            </a>
                        </div>
                    </div>

                    {% if posts_query.has_params() %}
                        <div>
                            <a href="{{ url("posts") }}" class="btn btn-light">
                                <i class="bi bi-x-lg"></i> Reset
                            </a>
                        </div>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
{% endblock %}