{% extends "layout.html" %}

{% block title %}{{ post.title }} | {{ site_name }}{% endblock %}
{% block canonical_url %}{{ full_url("post", post_id=post.id) }}{% endblock %}

{% block breadcrumbs %}
    {% with breadcrumbs = {"Home": url("index"), "Posts": url("posts"), (post.title): None} %}
        {% include "fragments/breadcrumbs.html" %}
    {% endwith %}
{% endblock %}

{% block content %}
    <h1>{{ post.title }}</h1>

    {% include "fragments/post-meta.html" %}

    <div>{{ post.content }}</div>

    <div class="d-flex gap-2 align-items-center">
        {% include "fragments/post-status.html" %}
        {% include "fragments/post-impressions.html" %}
        {% if post.status != PostStatus.PUBLISHED and cur_user and check_auth(cur_user, Permission.UPDATE_POST, post) %}
            <a href="{{ url("edit-post", post_id=post.id) }}" class="btn btn-outline-secondary btn-sm">
                <i class="bi bi-pencil-square"></i> Edit post
            </a>
        {% endif %}
    </div>
{% endblock %}