{% extends "layout.html" %}

{% block title %}{{ post.title }} | {{ site_name }}{% endblock %}
{% block canonical_url %}{{ full_url("post-page", post_id=post.id) }}{% endblock %}

{% block breadcrumbs %}
    {% with breadcrumbs = {"Home": url("index"), "Posts": url("posts-page"), (post.title): None} %}
        {% include "fragments/breadcrumbs.html" %}
    {% endwith %}
{% endblock %}

{% block content %}
    <h1>{{ post.title }}</h1>
    {% include "fragments/post-meta.html" %}
    <div>{{ post.content }}</div>
{% endblock %}