{% extends "layout.html" %}

{% block title %}Users |  {{ site_name }}{% endblock %}
{% block canonical_url %}{{ full_url("users-page") }}{% endblock %}

{% block breadcrumbs %}
    {% with breadcrumbs = {"Home": url("index"), "Users": None} %}
        {% include "fragments/breadcrumbs.html" %}
    {% endwith %}
{% endblock %}

{% block content %}
    <h1>Users</h1>
    <p class="small text-secondary">Recently registered users</p>
    {% if users %}
        <div class="row" id="users">
            {% include "fragments/users.html" %}
        </div>
        {% with limit=users_query.limit,
            offset=users[-1].offset,
            count=users|length,
            url=url("users-page-fragment"),
            container="#users" %}
            {% include "fragments/pagination.html" %}
        {% endwith %}
    {% else %}
        N/A
    {% endif %}
{% endblock %}