{% extends "layout.html" %}

{% block title %}{{ user_title | default(user.name ~ " | " ~ site_name) }}{% endblock %}
{% block canonical_url %}{{ full_url("user-page", user_id=user.id) }}{% endblock %}

{% block content %}
    <h1>{{ user_header | default(user.name) }}</h1>
    <p class="small text-secondary">{{ user_sub_header | default(user.created_at) }}</p>
    <div>{{ user_email_label | default("Email") }}: {{ user.email }}</div>
    <div>{{ user_name_label | default("Name") }}: {{ user.name }}</div>
    <div>{{ user_username_label | default("Username") }}: {{ user.username }}</div>
    <div>{{ user_providers_label | default("Providers") }}: {{ user.providers }}</div>
    <div>{{ user_permissions_label | default("Permissions") }}: {{ user.permissions }}</div>
    <div>{{ user_created_at_label | default("Created At") }}: {{ user.created_at }}</div>
    <div>{{ user_updated_at_label | default("Updated At") }}: {{ user.updated_at }}</div>
{% endblock %}