{% extends "layout.html" %}

{% block title %}{{ post.title }} | {{ site_name }}{% endblock %}
{% block canonical_url %}{{ full_url("view-post", post_id=post.id) }}{% endblock %}

{% block breadcrumbs %}
    {% with breadcrumbs = {"Home": url("index"), "Posts": url("view-posts"), (post.title): None} %}
        {% include "fragments/breadcrumbs.html" %}
    {% endwith %}
{% endblock %}

{% block content %}
    <h1>{{ post.title }}</h1>

    {% if post.status != PostStatus.PUBLISHED and cur_user and check_auth(cur_user, Permission.UPDATE_POST, post) %}
        <a href="{{ url("edit-post", post_id=post.id) }}" class="btn btn-light btn-sm">
            <i class="bi bi-pencil-square"></i> Edit post
        </a>
    {% endif %}

    {% include "fragments/publish-post-form.html" %}
    {% include "fragments/reject-post-form.html" %}

    <div class="d-flex gap-2 align-items-center">
        {% include "fragments/post-meta.html" %}
        {% include "fragments/post-impressions.html" %}
    </div>

    <div>{{ post.content }}</div>
{% endblock %}