{% extends "layout.html" %}

{% block title %}{{ user.name }} | {{ site_name }}{% endblock %}
{% block canonical_url %}{{ full_url("view-user", user_id=user.id) }}{% endblock %}

{% block breadcrumbs %}
    {% with breadcrumbs = {"Home": url("index"), "Users": url("view-users"), (user.name): None} %}
        {% include "fragments/breadcrumbs.html" %}
    {% endwith %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col col-2">
            {% include "fragments/avatar.html" %}
        </div>
        <div class="col col-10">
            <h1 class="m-0">{{ user.name }}</h1>

            {% if user.username %}
                <div>
                    @{{ user.username }}
                </div>
            {% endif %}

            {% if user.headline %}
                <h2 class="h5">{{ user.headline }}</h2>
            {% endif %}

            <div>
                {% if user.website %}
                    <i class="bi bi-box-arrow-up-right"></i>
                    <a class="link-dark d-inline-block me-2" href="{{ user.website }}" target="_blank"
                       rel="noopener noreferrer">
                        {{ user.website }}
                    </a>
                {% endif %}

                {% if False and user.phone %}
                    <a class="link-dark d-inline-block me-2" href="tel{{ user.phone }}">
                        {{ user.phone }}
                    </a>
                {% endif %}

                {% if False and user.email %}
                    <a class="link-dark d-inline-block me-2" href="mailto:{{ user.email }}">
                        {{ user.email }}
                    </a>
                {% endif %}

                {% if user.address %}
                    <span class="d-inline-block me-2">
                        <i class="bi bi-geo"></i>
                        {{ user.address }}
                    </span>
                {% endif %}
            </div>

            <div class="small text-secondary">
                Joined: {{ (user.created_at / 1000) | unix_to_full_date() }}
            </div>

            {% if cur_user and check_auth(cur_user, Permission.UPDATE_USER, user) %}
                <a href="{{ url("edit-user", user_id=user.id) }}" class="btn btn-light btn-sm">
                    <i class="bi bi-pencil-square"></i> Edit profile
                </a>
            {% endif %}
        </div>
    </div>

    {% if user.about %}
        <section>
            <h2 class="mb-2 text-center mb-sm-2 mb-md-2 mb-lg-2 text-lg-start mb-xl-3 mb-xxl-3">
                <i class="bi bi-info-circle-fill"></i> About
            </h2>
            <div class="card text-bg-light">
                <div class="card-body">
                    <div class="card-text">{{ user.about }}</div>
                </div>
            </div>
        </section>
    {% endif %}

    <div>
        <h2>Latest posts</h2>
        {% if posts %}
            <div id="posts">
                {% include "fragments/posts.html" %}
            </div>
            {% with limit=posts_query.limit,
                offset=posts[-1].offset,
                count=posts|length,
                url=url("view-user-posts-fragment", user_id=user.id),
                container="#posts" %}
                {% include "fragments/load-more-button.html" %}
            {% endwith %}
        {% else %}
            N/A
        {% endif %}
    </div>
{% endblock %}