{% extends "layout.html" %}

{% set latest_title = "Latest users" %}
{% set popular_title = "Popular users" %}
{% set title = (popular_title if users_query.popular else latest_title) | trim %}
{% set sub_title = "Most followed users" if users_query.popular else "Recently registered users" %}

{% block title %}{{ title }} | {{ site_name }}{% endblock %}
{% block canonical_url %}{{ full_url("view-users") }}{% endblock %}

{% block breadcrumbs %}
    {% with breadcrumbs = {"Home": url("index"), (popular_title if users_query.popular else "Users"): None} %}
        {% include "fragments/breadcrumbs.html" %}
    {% endwith %}
{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    <p class="small text-secondary">{{ sub_title }}</p>
    <form action="{{ url("view-users") }}" method="get">
        {% if users_query.popular %}
            <input type="hidden" name="popular" value="1">
        {% endif %}
        <div class="d-flex justify-content-start align-items-center gap-1">
            <a href="{{ url("view-users", **users_query.get_dict({"popular": None if users_query.popular else 1})) }}"
               class="btn btn-light {% if users_query.popular %}active{% endif %}">
                <i class="bi bi-star"></i> {{ popular_title }}
            </a>
            {% if users_query.has_params() %}
                <a href="{{ url("view-users") }}" class="btn btn-light">
                    <i class="bi bi-x-lg"></i> Reset
                </a>
            {% endif %}
        </div>
    </form>
    {% if users %}
        <div class="row g-3" id="users">
            {% include "fragments/users.html" %}
        </div>
        {% with limit=users_query.limit,
            offset=users[-1].offset,
            count=users|length,
            url=url("view-users-fragment"),
            container="#users" %}
            {% include "fragments/load-more-button.html" %}
        {% endwith %}
    {% else %}
        N/A
    {% endif %}
{% endblock %}